/*Formateo general*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(240, 195, 151);
  background: linear-gradient(180deg, rgb(240, 195, 151) 8%, rgb(193, 130, 70) 60%, rgb(157, 78, 0) 100%);
}

/*Header*/
.header-navbar {
  background-color: #F68989;
}

.li-item {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  margin-left: 5rem;
}

.header-logo {
  width: 8vw;
  height: auto;
}

.header-logo-texto {
  width: 20vw;
  height: auto;
}

.submenu-edit {
  background-color: #F68989;
  border: none;
  font-size: 1.5rem;
}

.nav-div {
  justify-content: center;
}

.color-a {
  color: brown !important;
}
.color-a:hover {
  background-color: #f86c6c;
  color: brown;
}
.color-a:link {
  color: brown;
}

.carrusel-index-size {
  width: 80%;
  margin: 5rem auto;
}

.img-index-size {
  object-fit: fill;
}

/*Footer*/
footer {
  background-color: #F68989;
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
  color: brown;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "ubicacion ubicacion wpp" "ubicacion ubicacion insta";
}
@media (min-width: 451px) and (max-width: 960px) {
  footer {
    font-size: 1rem;
  }
}
@media (max-width: 450px) {
  footer {
    font-size: 1rem;
  }
}

.footer-span-ubicacion {
  grid-area: ubicacion;
  display: flex;
  align-items: center;
}

.ubicacion-img {
  width: 5rem;
  margin-right: 1rem;
}
@media (min-width: 451px) and (max-width: 960px) {
  .ubicacion-img {
    width: 4rem;
  }
}
@media (max-width: 450px) {
  .ubicacion-img {
    width: 2rem;
  }
}

.footer-span-wpp {
  grid-area: wpp;
  display: flex;
  align-items: center;
  justify-content: end;
}
.footer-span-wpp img {
  width: 5rem;
  margin-left: 1rem;
}
@media (min-width: 451px) and (max-width: 960px) {
  .footer-span-wpp img {
    width: 4rem;
  }
}
@media (max-width: 450px) {
  .footer-span-wpp img {
    width: 2rem;
  }
}

.footer-span-insta {
  grid-area: insta;
  display: flex;
  align-items: center;
  justify-content: end;
}
.footer-span-insta img {
  width: 5rem;
  margin-left: 1rem;
}
@media (min-width: 451px) and (max-width: 960px) {
  .footer-span-insta {
    width: 4rem;
  }
}
@media (max-width: 450px) {
  .footer-span-insta {
    width: 2rem;
  }
}

/*Index*/
h5 {
  background-color: rgba(246, 137, 137, 0.8235294118);
  font-size: 2rem;
  font-family: "Merriweather";
  color: brown;
}
@media (max-width: 450px) {
  h5 {
    font-size: 1rem;
  }
}
@media (min-width: 451px) and (max-width: 960px) {
  h5 {
    font-size: 1.5rem;
  }
}

/*Ubicacion*/
.div-contacto {
  background-color: #F68989;
  width: 90%;
  margin: 20px auto;
  font-family: "Merriweather", serif;
  font-size: 2rem;
  color: brown;
}

.div-ubicacion {
  margin: 10px 5%;
}

.div-formulario {
  margin: 10px 5%;
}

/*Libros*/
.div-libros {
  background-color: #ffa3a3;
  width: 50%;
  margin: 4rem auto;
}

.h3-libros, .h2-libros {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.h2-libros {
  background-color: rgba(246, 137, 137, 0.8235294118);
  font-size: 2rem;
  font-family: "Merriweather";
  color: brown;
}

.h3-libros {
  background-color: rgba(246, 137, 137, 0.8235294118);
  font-size: 2rem;
  font-family: "Merriweather";
  color: brown;
}

/*# sourceMappingURL=style.css.map */
