/*Libros*/
@import '../base/extend';

.div-libros{
    @extend %bg-titles;
}

.h2-libros{
    @extend %titles-align;
    background-color: map-get($titles, bg-color);
    font-size: map-get($titles, size);
    font-family: map-get($titles, font);
    color: map-get($titles, color);
}

.h3-libros{
    @extend %titles-align;
    background-color: map-get($titles, bg-color);
    font-size: map-get($titles, size);
    font-family: map-get($titles, font);
    color: map-get($titles, color);
}
.carrusel-libros-size{
    width: 30%;
    margin: 0 auto;
}
.img-galeria{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 500px;
    gap: 2rem;
}
.img-catalogo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-galeria{
    position: relative;
}