/*Menu*/
@import '../base/extend';
@import '../base/responsive';
@import '../base/listas';

.div-h2-menu{
    @extend %bg-titles;
}

.h2-menu{
    @extend %titles-align;
    background-color: map-get($titles, bg-color);
    font-size: map-get($titles, size);
    font-family: map-get($titles, font);
    color: map-get($titles, color);
    @include tablet{
        font-size: nth($font-size,2);
    }
    @include mobile{
        font-size: nth($font-size,2);
    }
}

.edit-menu-container{
    background-color: nth($colores,4);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    margin: 20px auto;
    text-align: center;
    font-family: map-get($titles, font);
    color: map-get($titles, color);
    font-size: nth($font-size, 2);
    @include tablet{
        font-size: nth($font-size,2);
    }
    @include mobile{
        font-size: nth($font-size,1);
    }
}


.menu-item{
    list-style-type: none;
}
.menu-bebida-lista-1{
    text-align: end;
    width: 50%;
}
.menu-bebida-lista-2{
    text-align: start;
    width: 50%;
}
.menu-comida-lista-1{
    text-align: end;
    width: 50%;
}
.menu-comida-lista-2{
    text-align: start;
    width: 50%;
}
    