/*Nosotros*/
@import '../base/extend';
@import '../base/responsive';
@import '../base/listas';

.div-h2-nosotros{
    @extend %bg-titles;
}

.h2-nosotros{
    @extend %titles-align;
    background-color: map-get($titles, bg-color);
    font-size: map-get($titles, size);
    font-family: map-get($titles, font);
    color: map-get($titles, color);
    @include mobile{
        font-size: nth($font-size,1);
    }
    @include tablet{
        font-size: nth($font-size,2);
    }
}

.edit-container{
    background-color: nth($colores,4);
    margin: 2rem auto;
    width: 80%;
    display: flex;
    padding: 1rem;

}
.nosotros-p{
    font-family:'Merriweather', serif;
    font-size: nth($font-size,3);
    color: nth($colores,1);
    @include tablet{
        font-size: nth($font-size,2);
    }
    @include mobile{
        font-size: nth($font-size,1);
    }
}
.nosotros-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}